<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="data.description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="P2P Play Count" [(ngModel)]="data.p2PPlayCount">
  </mat-form-field>
  <mat-checkbox [(ngModel)]="data.isContinuous">Is Continuous</mat-checkbox>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
</div>