<div class="row" *ngIf="players">
  <app-table [title]="'Players'" [actions]="actions" [columns]="columns" [data]="players"></app-table>
</div>
<!-- <div *ngIf="player">
  <label for="firstName">FIRST NAME : </label><input type="text" name="firstName" id="firstName" [(ngModel)]="player.firstName">
  <br>
  <label for="lastName">LAST NAME : </label><input type="text" name="lastName" id="lastName" [(ngModel)]="player.lastName">
  <br>
  <button class="btn btn-info" (click)="submit()">SUBMIT</button>
</div> -->