<div class="row">
  <app-table [title]="'Types'" [actions]="actions" [columns]="columns" [data]="types"></app-table>
  <!-- <div *ngIf="type">
    <label>NAME : </label><input type="text" [(ngModel)]="type.name">
    <br>
    <label>DESCRIPTION : </label><textarea [(ngModel)]="type.description"></textarea>
    <br>
    <label>IS CONTINUOUES : </label><input type="checkbox" [(ngModel)]="type.isContinuous">
    <br>
    <label>P2P PLAY COUNT : </label><input type="number" min="1" max="15" [(ngModel)]="type.p2PPlayCount">
    <br>
    <button class="btn btn-info" (click)="submit()">SUBMIT</button>
  </div> -->
</div>