<br>
<button class="btn btn-success" (click)="newLeague()">ADD</button>
<div class="row">
  <div class="col col-md-4">TITLE</div>
  <div class="col col-md-1">TYPE</div>
  <div class="col col-md-1">START DATE</div>
  <div class="col col-md-1">END DATE</div>
  <div class="col col-md-1">IS COMPLETED</div>
</div>
<div class="row" *ngFor="let league of leagues">
  <div class="col col-md-4">
    <p>{{league.title}}[i:{{league.iteration}}](p:{{league.playerCount}})</p>
  </div>
  <div class="col col-md-1">
    <p>{{league.typeName}}</p>
  </div>
  <div class="col col-md-1">
    <p>{{league.startDatePersian}}</p>
  </div>
  <div class="col col-md-1">
    <p>{{league.endDatePersian}}</p>
  </div>
  <div class="col col-md-1">
    <p>{{league.isCompleted}}</p>
  </div>
  <div class="col col-md-4">
    <button class="btn btn-warning" (click)="selectLeague(league)">edit</button>
    <button class="btn btn-danger" (click)="deleteLeague(league)">delete</button>
    <button class="btn btn-info" (click)="addPlayerToLeague(league)">add player</button>
    <button class="btn btn-default" (click)="showMatches(league.id)">show matches</button>
  </div>
</div>

<div *ngIf="league">
  <label for="title">TITLE : </label><input type="text" name="title" id="title" [(ngModel)]="league.title">
  <br>
  <label for="type">TYPE : </label>
  <select name="typeId" id="typeId" [(ngModel)]="league.typeId">
    <option *ngFor="let type of types" value="{{type.id}}">{{type.name}}</option>
  </select>
  <br>
  <label for="iteration">ITERATION : </label><input type="number" name="iteration" id="iteration" [(ngModel)]="league.iteration">
  <br>
  <label for="startDate">START DATE : </label><input type="date" name="startDate" id="startDate" [(ngModel)]="league.startDate">
  <br>
  <label for="endDate">END DATE : </label><input type="date" name="endDate" id="endDate" [(ngModel)]="league.endDate">
  <br>
  <label for="isCompleted">IS COMPLETED : </label><input type="checkbox" name="isCompleted" id="isCompleted"
    [(ngModel)]="league.isCompleted">
  <br>
  <button class="btn btn-info" (click)="submitLeague()">SUBMIT</button>
</div>

<div *ngIf="addPlayer">
  <label for="type">Player : </label>
  <select name="playerId" id="playerId" [(ngModel)]="addPlayer.playerId">
    <option *ngFor="let player of players" value="{{player.id}}">{{player.firstName}} {{player.lastName}}</option>
  </select>
  <br>
  <button class="btn btn-info" (click)="submitAddPlayer()">SUBMIT</button>
</div>

<div *ngIf="matches">
  <div class="row">
    <div class="col col-md-2">FIRST PLAYER</div>
    <div class="col col-md-2">FIRST PLAYER SCORE</div>
    <div class="col col-md-2">SECOND PLAYER SCORE</div>
    <div class="col col-md-2">SECOND PLAYER</div>
    <div class="col col-md-2">MATCH DATE</div>
  </div>
  <div class="row" *ngFor="let match of matches">
    <div class="col col-md-2">{{match.firstPlayerFullName}}</div>
    <div class="col col-md-2">{{match.firstPlayerScore}}</div>
    <div class="col col-md-2">{{match.secondPlayerScore}}</div>
    <div class="col col-md-2">{{match.secondPlayerFullName}}</div>
    <div class="col col-md-2">{{match.matchDatePersian}}</div>
    <div class="col col-md-2">
      <button class="btn btn-success" (click)="setMatchResult(match)" *ngIf="!match.matchDate">set result</button>
    </div>
  </div>
</div>

<div *ngIf="matchResult">
  <label for="firstPlayerScore">FIRST PLAYER SCORE : </label><input type="number" name="firstPlayerScore" id="firstPlayerScore"
    [(ngModel)]="matchResult.firstPlayerScore">
  <br>
  <label for="secondPlayerScore">SECOND PLAYER SCORE : </label><input type="number" name="secondPlayerScore" id="secondPlayerScore"
    [(ngModel)]="matchResult.secondPlayerScore">
  <br>
  <label for="matchDate">MATCH DATE : </label><input type="date" name="matchDate" id="matchDate" [(ngModel)]="matchResult.matchDate">
  <br>
  <button class="btn btn-info" (click)="setResult()">SUBMIT</button>
</div>