<br>
<button class="btn btn-success" (click)="newLeague()">ADD</button>
<div class="row">
  <div class="col col-md-3">TITLE</div>
  <div class="col col-md-1">TYPE</div>
  <div class="col col-md-1">START DATE</div>
  <div class="col col-md-1">END DATE</div>
  <div class="col col-md-1">IS COMPLETED</div>
  <div class="col col-md-2">WINNER</div>
</div>
<div class="row" *ngFor="let league of leagues">
  <div class="col col-md-3">
    <p>{{league.title}}[i:{{league.iteration}}](p:{{league.playerCount}})</p>
  </div>
  <div class="col col-md-1">
    <p>{{league.typeName}}</p>
  </div>
  <div class="col col-md-1">
    <p>{{league.startDatePersian}}</p>
  </div>
  <div class="col col-md-1">
    <p>{{league.endDatePersian}}</p>
  </div>
  <div class="col col-md-1">
    <p>{{league.isCompleted}}</p>
  </div>
  <div class="col col-md-2">
    <p><b>{{league.winnerPlayerFullName || "- - - - - - - - - -"}}</b></p>
  </div>
  <div class="col col-md-3">
    <button class="btn btn-warning" (click)="selectLeague(league)"><i class="fas fa-edit fa-lg"></i></button>
    <button class="btn btn-danger" (click)="deleteLeague(league)"><i class="fas fa-trash-alt fa-lg"></i></button>
    <button class="btn btn-info" *ngIf="!league.isCompleted" (click)="addPlayerToLeague(league)"><i class="fas fa-plus-square fa-lg"></i></button>
    <button class="btn btn-default" (click)="showMatches(league.id)"><i class="fas fa-file-alt fa-lg"></i></button>
    <button class="btn btn-success" (click)="getLeagueRank(league.id)"><i class="fas fa-table fa-lg"></i></button>
  </div>
</div>

<div *ngIf="league">
  <label for="title">TITLE : </label><input type="text" name="title" id="title" [(ngModel)]="league.title">
  <br>
  <label for="type">TYPE : </label>
  <select name="typeId" id="typeId" [(ngModel)]="league.typeId">
    <option *ngFor="let type of types" value="{{type.id}}">{{type.name}}</option>
  </select>
  <br>
  <label for="iteration">ITERATION : </label><input type="number" name="iteration" id="iteration" [(ngModel)]="league.iteration">
  <br>
  <label for="startDate">START DATE : </label><input type="date" name="startDate" id="startDate" [(ngModel)]="league.startDate">
  <br>
  <label for="endDate">END DATE : </label><input type="date" name="endDate" id="endDate" [(ngModel)]="league.endDate">
  <br>
  <label for="isCompleted">IS COMPLETED : </label><input type="checkbox" name="isCompleted" id="isCompleted"
    [(ngModel)]="league.isCompleted">
  <br>
  <button class="btn btn-info" (click)="submitLeague()">SUBMIT</button>
</div>

<div *ngIf="addPlayer">
  <label for="type">Player : </label>
  <select name="playerId" id="playerId" [(ngModel)]="addPlayer.playerId">
    <option *ngFor="let player of players" value="{{player.id}}">{{player.firstName}} {{player.lastName}}</option>
  </select>
  <br>
  <button class="btn btn-info" (click)="submitAddPlayer()">SUBMIT</button>
</div>

<div *ngIf="matches">
  <app-league-matches [matches]="matches" (showMatches)="showMatches($event)"></app-league-matches>
</div>

<div *ngIf="leagueRanks">
  <app-league-rank [leagueRanks]="leagueRanks"></app-league-rank>
</div>